<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdw.reggie.backend.mapper.EmployeeMapper">
    <select id="selectByUsername" resultType="com.zdw.reggie.backend.domain.Employee">
        select *
        from employee
        where username=#{username}
    </select>

    <insert id="savaEmployee" parameterType="com.zdw.reggie.backend.domain.Employee">
        insert into employee(id, name, username,
                              password, phone, sex,
                              id_number, status, create_time,
                              update_time, create_user, update_user
        )
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
                #{idNumber,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, #{updateUser,jdbcType=BIGINT}
               )
    </insert>

    <select id="selectCont" resultType="int">
        select count(*)
        from employee
        <where>
            <if test="name !=null and name!=''">
                name like '%' #{name } '%'
            </if>
        </where>

    </select>

    <select id="selectBypage" resultType="com.zdw.reggie.backend.domain.Employee">
        select *
        from employee
        <where>
            <if test="name!=null and name!=''">
                name like '%' #{name} '%'
            </if>
        </where>
        limit  #{pageNo},#{pageSize}
    </select>

    <update id="updata" parameterType="com.zdw.reggie.backend.domain.Employee">
        update employee
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="idNumber != null and idNumber != ''">
                id_number = #{idNumber},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectById" resultType="com.zdw.reggie.backend.domain.Employee">
        select *
        from employee
        where id=#{id}
    </select>
</mapper>